{% extends "main\base.html" %}
{% load static %}

{% block css %}
<link href={% static "nursery.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row featurette">
        <div class="col-md-pic">
            <img class="featurette-image img-fluid mx-auto" src="images\nursery1.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-header">
            <a class="h1" href="https://algrafs.ru/">Альграфс</a>
            <p>Профессиональный подход к разведению собак и выращиванию щенков. Все собаки проверены по здоровью и имеют
                генетические тесты. Поэтому джек рассел терьеры из питомника Альграфс отличаются уравновешенным
                характером, легко...</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-pic">
            <img class="featurette-image img-fluid mx-auto" src="images\nursery2.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-header">
            <a class="h1" href="https://www.rassel.ucoz.ru">Мэрси Мэй</a>
            <p>Джек рассел терьер питомник РКФ / FCI и миниатюрные бультерьеры, АМЕРИКАН БУЛЛИ - "MERSI MEY" По собакам
                звонить 8-905-215-42-80 Татьяна или Люся 8-921-763-98-40 В наших собаках крови лучших питомников
                Голландии...</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-pic">
            <img class="featurette-image img-fluid mx-auto" src="images\nursery3.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-header">
            <a class="h1" href="https://dolinadr.ru/">Долина джек расселов</a>
            <p>Профессиональный питомник "Долина Джек Расселов" основан в 2001 году и до 2019 имел статус монопородного.
                В настоящий момент у нас так же можно приобрести щенков породы Бигль, Вельш-Корги, Пиренейская горная
                собака.</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-pic">
            <img class="featurette-image img-fluid mx-auto" src="images\nursery4.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-header">
            <a class="h1" href="http://www.JackRussel-terrier.com/">Пинаколада</a>
            <p>На сайте Вы найдете много полезной информации, клипов, фотографий и ссылок благодаря которым сможете
                более подробно узнать и полюбить собак породы Джек Рассел Терьер</p>
        </div>
    </div>
{% endblock %}