{% extends "main\base.html" %}
{% load static %}

{% block css %}
<link href={% static "character.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>
        Характер джек-рассел-терьера
    </h1>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <p class="lead">Джек-рассел-терьер – настоящий вечный двигатель. Он просто физически не способен долго
                сидеть на одном месте и скучать в ожидании игры. Привлекать внимание хозяина эта собака будет всеми
                доступными способами. Она прекрасно знает правила поведения в доме и может сознательно их нарушать,
                чтобы вызвать хоть какую-то реакцию у хозяина, который слишком увлекся любимым сериалом или новой
                книгой.</p>
            <p class="lead">Важно помнить о высоком интеллекте питомца. Физические нагрузки обязательно должны
                сопровождаться умственными, иначе любое занятие быстро наскучит. Чередуйте команды и игрушки,
                придумывайте новые виды активности.</p>
            <p class="lead">В целом представители породы отличаются жизнерадостным и дружелюбным нравом.
                Джек-рассел-терьеры прекрасно подходят для семей, где дети достаточно взрослые, чтобы не относиться к
                домашнему любимцу как к плюшевому медведю. Агрессию без причины могут проявлять только собаки, в чьем
                воспитании с раннего детства были допущены серьезные промахи.</p>
            <p class="lead">С другими животными в доме представители этой породы уживаются плохо из-за генов охотника.
                Особенно нежелательно соседство с грызунами, ведь джек-расселы – известные крысоловы, но доставлять
                неприятности они могут и кошкам. В отношениях с собаками своей или другой породы (независимо от
                габаритов противника) в силу отважного и своенравного характера всегда будут пытаться доминировать,
                постоянно вступая в стычки.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images\jr_character1.jpg"
                alt="Generic placeholder image">
        </div>
    </div>
{% endblock %}