{% extends "main\base.html" %}
{% load static %}

{% block css %}
<link href={% static "care.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="description">
        <div class="col">
            <h1>Уход и содержание</h1>
            <hr class="featurette-divider">
            <p class="lead">Несмотря на компактные размеры джек-расселов, содержание их в городской квартире сопряжено с
                определенными трудностями. Собаки слишком активны, чтобы прогулки по четверти часа утром и вечером могли
                удовлетворить их потребность в физических нагрузках. При недостатке тренировок излишек энергии они будут
                тратить
                на разрушительные шалости. В результате могут пострадать мебель, техника, полы, обувь и одежда
                владельцев. Следует
                понимать, что для джек-рассел-терьера это не акт мести или сознательная диверсия, а просто попытка
                занять себя
                чем-то в отсутствие хозяина, поэтому перед уходом на несколько часов нужно находить время на долгую и
                содержательную прогулку.</p>

            <p class="lead">Важно помнить о высоком интеллекте питомца. Физические нагрузки обязательно должны
                сопровождаться
                умственными, иначе любое занятие быстро наскучит. Чередуйте команды и игрушки, придумывайте новые виды
                активности.</p>

            <p class="lead">В целом представители породы отличаются жизнерадостным и дружелюбным нравом.
                Джек-рассел-терьеры
                прекрасно подходят для семей, где дети достаточно взрослые, чтобы не относиться к домашнему любимцу как
                к
                плюшевому медведю. Агрессию без причины могут проявлять только собаки, в чьем воспитании с раннего
                детства были
                допущены серьезные промахи.</p>

            <p class="lead">С другими животными в доме представители этой породы уживаются плохо из-за генов охотника.
                Особенно
                нежелательно соседство с грызунами, ведь джек-расселы – известные крысоловы, но доставлять неприятности
                они могут
                и кошкам. В отношениях с собаками своей или другой породы (независимо от габаритов противника) в силу
                отважного и
                своенравного характера всегда будут пытаться доминировать, постоянно вступая в стычки.</p>
        </div>
    </div>
{% endblock %}
