{% extends "main\base.html" %}
{% load static %}

{% block css %}
<link href={% static "illness.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
    <hr class="featurette-divider">
    <h1>
     Здоровье и возможные болезни
    </h1>
    <hr class="featurette-divider">
 
    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">Джек-рассел-терьеры не склонны к генетическим заболеваниям. У представителей породы крепкое здоровье и отменная физическая форма. Собаки, которых кормят натуральной едой, могут страдать от дефицита витаминов.</p>
        <p class="lead">Чтобы избежать этого в меню включают витаминные комплексы. Чтоб не создавать лишней нагрузки на организм берут несколько витаминно-минеральных комплексов по 3-4 препарата и чередуют их.</p>
        <p class="lead">При неправильном уходе рассел терьеры могут страдать от:</p>
        <ul>
          <li>
            <p>Проблем со слухом. Джек-рассел-терьеры склонны к врождённой глухоте или тугоухости.</p>
          </li>
          <li>
            <p>Глазных заболеваний. У представителей породы глаза посажены глубоко, по этой причине они страдают от миопии, катаракты, дистрофии сетчатки, а также конъюнктивитов.</p>
          </li>
          <li>
            <p>Дисплазии тазобедренных суставов. За счет активного образа жизни рассел терьеры могут страдать от растяжений связок и вывихов. Чаще всего страдают коленные суставы задних конечностей, поскольку на них приходится основная нагрузка</p>
          </li>
          <li>
            <p>Проблемы с пищеварительной системой. Чаще всего вызваны неправильным питанием.</p>
          </li>
        </ul>
        <p class="lead">Регулярное посещение ветеринара позволяет предотвратить заболевания или минимизировать симптоматику и последствия. Не мене важно своевременно делать прививки. Учитывая, что джек-рассел-терьеры охотничьи собаки, а возможными переносчиками бешенства являются норные животные.</p>
        <p class="lead">Представители породы хорошо переносят вакцинирование. Первые 3-4 дня после введения препарата возможно проявление симптом аллергии. Перед прививанием рекомендуется несколько дней не контактировать с другими животными, не ходить на охоту и отказаться от активных игр.</p>
       </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images\ilnesses.jpeg" alt="Generic placeholder image">
      </div>
    </div>
{% endblock %}